DownLoadFPCPortal/CopytoDataLake.json
{
    "name": "FunctionsInFactory",
    "properties": {
        "activities": [
            {
                "name": "Azure Function1",
                "type": "AzureFunctionActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "functionName": "DownLoadFPCPortal ",
                    "method": "POST",
                    "body": {
                        "body": ""
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureFunction1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "CopytoDataLake",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Azure Function1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ESRIPortalCSV",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DelimitedText11",
                        "type": "DatasetReference",
                        "parameters": {
                            "FileName": {
                                "value": "@activity('Azure Function1').output.activity",
                                "type": "Expression"
                            },
                            "Folder": {
                                "value": "@concat('GIS_ARCHIVES','/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'))",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            }
        ],
        "annotations": [],
        "lastPublishTime": "2021-05-11T10:15:06Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}